:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --contrast-color: #FF6A00;
    --text-color: #ffffff;

    --transparent-color: rgba(255, 255, 255, 0.4);
    --extreme-transparent-color: rgba(255, 255, 255, 0.12);
    --super-extreme-transparent-color: rgba(255, 255, 255, 0.06);

    --gradient-color1: var(--contrast-color);
    --gradient-color2: red;
    --gradient-color3: #6E0000;

    --title-text-size: 1.125rem; /* 18 */
    --header-text-size: 2.75rem;  /* 48 */
    --large-text-size: 1.75rem; /* 28 */
    --main-text-size: 1.25 em; /* 20 */
    --subtext-size: 1rem; /* 16 */
    
    --default-transparency: 40%;
    --extreme-transparency: 12%;

    --main-border-radius: 12px;

    --default-padding: 12px;

    --margin-between-images: 6px;
    --slight-margin-spacer: 16px;
    --main-margin-spacer: 32px;
    --extreme-margin-spacer: 64px;

    --body-margins: 12px;
}

@font-face {
    font-family: 'jaldi-regular';
    src: url(Fonts/fonnts.com-Jaldi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'jaldi-bold';
    src: url(Fonts/fonnts.com-Jaldi-Bold.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'jaldi-regular';
    margin: var(--body-margins);
}

h1{
    font-size: var(--header-text-size);
    font-family: 'jaldi-bold';
    line-height: 1.2;
    margin: 0;
}

h2{
    font-size: var(--large-text-size);
    margin: 0;
}

h3{
    font-size: var(--main-text-size);
    margin: 0;
    margin-bottom: 16px;
    margin-top: 16px;
}

h4{
    font-size: var(--title-text-size);
    color: var(--contrast-color);
    margin: 0;
}

h5{
    font-size: var(--subtext-size);
    margin: 0;

    opacity: var(--default-transparency);
}

p{
    font-size: var(--subtext-size);
    margin: 0;
}

video{
    height: auto;
    width: 100%;
    border-radius: var(--main-border-radius);
}

button{
    background-color: transparent;
    border: none;
}

img { 
    height: auto;
    max-width: 100%;
}

img:hover{
    transform: scale(0.99);
    transition: transform 0.3s ease;
}

ul{
    margin: 0;
}

li{
    list-style-type: none;
    font-family: 'jaldi-regular';
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--main-text-size);
}

button:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

button:active{
    transform: scale(1);
    transition: transform 0.3 ease;
}

.disableClickEffect:active{
    transform: (1);
}

.spaceText{
    line-height: 1.2;
}

.extremeSpaceText{
    line-height: 1.4;
}

.hide{
    display: none;
}

.hideOverflow{
    overflow: hidden;
}

.galleryControls{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-between-images);    
}

.galleryButtons{
    display: none;
}

.galleryImg{
    width: 82vw;
    height: auto;
    object-fit: cover;
    background-color: var(--super-extreme-transparent-color);
    border-radius: var(--main-border-radius);
    padding: var(--default-padding);
}

.removeBg{
    background-color: transparent;
    padding: 0;
}

.galleryContainer{
    display:flex;
    gap:20px;
    overflow-x:auto;
    scroll-behavior:smooth;
    border-radius: var(--main-border-radius);
}

.galleryContainer::-webkit-scrollbar{
    display:none;
}

.galleryContainer:active {
    cursor: grabbing;
}


.addGap{
    gap: var(--margin-between-images);
}

.addGapBetweenImg{
    gap: var(--margin-between-images);
}

.alignDivRight{
    margin-left: auto;
}

.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerVerticallyDiv{
    display: flex;
    align-items: center;
}

.centerHorizontallyDiv{
    display: flex;
    justify-content: center;
}

.addTransparentBg{
    background-color: var(--transparent-color);
}

.addExtremeTransparentBg{
    background-color: var(--extreme-transparent-color);
}

.addTransparency{
    opacity: var(--default-transparency);
}

.addExtremeTransparency{
    opacity: var(--extreme-transparency);
}

.slider{
    position: relative;
    overflow: hidden;

    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0px,
        black 40px,
        black calc(100% - 40px),
        transparent 100%
    );

    mask-image: linear-gradient(
        to right,
        transparent 0px,
        black 40px,
        black calc(100% - 40px),
        transparent 100%
    );
}

.sliderTrack{
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.tightenTextDiv{
    width: 80%;
}

.slightTightenText{
    width: 90%;
}

.addBorderRadius{
    border-radius: var(--main-border-radius);
}

.addSlightMargins{
    margin-top: var(--slight-margin-spacer);
    margin-bottom: var(--slight-margin-spacer);
}

.addSlightMarginBottom{
    margin-bottom: var(--slight-margin-spacer);
}

.addSlightMarginTop{
    margin-top: var(--slight-margin-spacer);
}

.addMargins{
    margin-top: var(--main-margin-spacer);
    margin-bottom: var(--main-margin-spacer);
}

.addMarginBottom{
    margin-bottom: var(--main-margin-spacer);
}

.addMarginTop{
    margin-top: var(--main-margin-spacer);
}

.addMarginRight{
    margin-right: var(--main-margin-spacer);
}

.addMarginLeft{
    margin-left: var(--main-margin-spacer);
}

.roundImgBorders img{
    border-radius: var(--main-border-radius);
}

.addExtremeMargins{
    margin-top: var(--extreme-margin-spacer);
    margin-bottom: var(--extreme-margin-spacer);
}

.addExtremeMarginsBottom{
    margin-bottom: var(--extreme-margin-spacer);
}

.addExtremeMarginsTop{
    margin-top: var(--extreme-margin-spacer);
}

.marginTop12px{
    margin-top: 12px;
}

.marginBottom12px{
    margin-bottom: 12px;
}

.marginLeft12px{
    margin-left: 12px;
}

.marginRight12px{
    margin-right: 12px;
}

.marginVertical12px{
    margin-top: 12px;
    margin-bottom: 12px;
}

.marginHorizontal12px{
    margin-left: 12px;
    margin-right: 12px;
}

.margin12px{
    margin: 12px;
}

.alignRight{
    display: flex;
    justify-content: flex-end;
}

.alignLeft{
    display: flex;
    justify-content: flex-start;
}

.midTightenTextDiv{
    width: 60%;
}

.extremeTightenTextDiv
{
    width: 40%;
}

.margin0{
    margin: 0;
}

.boldText{
    font-family: 'jaldi-bold';
}

.whiteText{
    color: var(--text-color);
}

.blackText{
    color: var(--primary-color);
}

.textAlignRight{
    text-align: right;
}

.contrastBg{
    background-color: var(--contrast-color);
}

.whiteBg{
    background-color: var(--secondary-color);
}

.gradientDiv{
    background: radial-gradient(
        circle,
        var(--gradient-color1) 0%,
        var(--gradient-color2) 50%,
        var(--gradient-color3) 100%
    );
}

.readMore{
    display: flex;
    align-items: center;
    height: 48px;
    width: fit-content;

    border-radius: 100px;
    padding-right: 6px;
}

.readMore img{
    background-color: var(--contrast-color);
    height: 18px;
    width: 18px;
    padding: 8px;
    border-radius: 100px;
}

.readMore a{
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 6px;
}

.galleryContainer{
    display: flex;

    justify-content: flex-start;
    white-space: nowrap;
    gap: var(--margin-between-images);

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
    cursor: grab;
}

.galleryContainer::-webkit-scrollbar {
    display: none;
}

.gallery-btn{
    width: 32px;
    height: 32px;
}

.gallery-btn.disabled{
    opacity:0.4;
    pointer-events:none;
}

.gallery-btn.disabled{
    opacity:0.35;
    pointer-events:none;
}

.gallery-btn.disabled:hover{
    opacity:0.35;
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw !important;
    height: 100vh !important;

    background: rgba(0,0,0,0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.25s ease;
}

.viewer img {
    max-width: 90%;
    max-height: 90%;

    transform: scale(0.9);
    transition: transform 0.25s ease;
}

.viewer.show {
    opacity: 1;
    pointer-events: auto;
}

.viewer img {
    max-width: 90%;
    max-height: 90%;
    cursor: zoom-in;

    user-select: none;
    -webkit-user-drag: none;
    touch-action: none;

    transform: scale(0.9);
    transition: transform 0.05s linear;
}

.viewer.show img {
    transform: scale(1);
}

.viewer img:active {
    cursor: grabbing;
}

.viewer img.zoomed {
    cursor: grab;
}

#mobileNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    transition: transform 0.3s ease;
    z-index: 1000;

    padding: var(--body-margins);

    background: radial-gradient(
        circle,
        var(--gradient-color2) -80%,
        var(--gradient-color3) 160%
    );
}

.hidden {
  transform: translateY(-100%);
}

#mobileNavOptions{
    position: absolute;
    right: 12px;
    top: 64px;

    background: radial-gradient(
        circle,
        var(--gradient-color1) 0%,
        var(--gradient-color2) 100%
    );

    width: fit-content;
    box-shadow: 0px 0px 8px var(--gradient-color3);
    padding: 24px;
    padding-right: 36px;
    padding-left: 36px;
    border-radius: var(--main-border-radius);

    opacity: 0;
    transform: translateY(-10px);

    transition: 
        opacity 0.3s ease,
        transform 0.3s ease;

    pointer-events: none;
}

#mobileNavOptions.show{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#mobileNavOptions a{
    font-size: var(--large-text-size);
    
}

#mobileNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--main-margin-spacer);
}

#mobileNav img{
    height: 90%;
}

#mobileNav a{
    font-size: 1.5rem;
}

#mobileNav h1{
    font-size: var(--title-text-size);
}

#heroSection{
    background-color: var(--contrast-color);
    margin: calc(var(--body-margins) * -1);
    padding: var(--body-margins);
    margin-bottom: var(--main-margin-spacer);
    padding-top: calc(var(--extreme-margin-spacer) * 1.4);
}

#mainPage{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#heroMainText{
    display: flex;
    flex-direction: column;
}

#heroMobileImg{
    display: block;
    margin: auto;
    height: auto;
    width: 88%;
}

#heroDesktopImg{
    margin-bottom: var(--main-margin-spacer);
}

#heroDesktopImg:hover{
    transform: scale(1);
}

#heroTabletImg{
    display: none;
    width: auto;
    height: 92vw;

}

#heroSlider{
    display: flex;
    white-space: nowrap;
    margin-top: var(--main-margin-spacer);
    margin-bottom: 12px;
    gap: 48px;
}

#heroSlider p{
    white-space: nowrap;
}

#codeSlider, #appSlider{
    display: flex;
    gap: 64px;
    margin-bottom: var(--main-margin-spacer);
    margin-top: var(--main-margin-spacer);
}


#codeSlider p, #appSlider p {
    white-space: nowrap;
}


.codeLanguage{
    display: flex;
    align-items: center;
    gap: 6px;
}

#codeLanguage img{
    height: 24px;
}

#codeLanguage p{
    white-space: nowrap;
}

#desktopNav{
    display: none;
    justify-content: space-between;

    background: radial-gradient(
        circle,
        var(--gradient-color2) 40%,
        var(--gradient-color3) 105%
    );

    padding: calc(var(--margin-between-images) * 2);
    padding-right: var(--body-margins);
    padding-left: var(--body-margins);

    position: fixed;
    top: 0;
    left: 0;
    width: 72%;
    transition: transform 0.3s ease;
    z-index: 1000;
}

#desktopNav.hidden {
  transform: translateY(-100%);
}

#navList{
    display: flex;
    gap: 32px;
}

#desktopNav a:hover {
    text-shadow: 0px 0px 8px var(--text-color);
    transition: text-shadow 0.3s ease;
}

#navGetInTouch{
    background-color: var(--secondary-color);    
    height: 42px;
}

.getInTouch{
    display: flex;
    align-items: center;
    height: 42px;
    width: fit-content;

    border-radius: 100px;
    padding-right: 4px;
    padding-left: 4px;
}

.getInTouch img{
    background-color: var(--secondary-color);
    height: 18px;
    width: 18px;
    padding: 8px;
    border-radius: 100px;
}

.getInTouch a{
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 6px;
}


#navGetInTouch a{
    color: var(--primary-color);
    padding-left: 24px;
    padding-right: 6px;
}

#navGetInTouch img{
    background-color: var(--contrast-color);
    height: 16px;
    width: 16px;
    padding: 8px;
    border-radius: 100px;
}

#mobileIntroductionSplit, #introductionSplit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--main-margin-spacer);
}

#mobileIntroductionImages img{
    margin-bottom: var(--margin-between-images);
}

#desktopIntroduction{
    display: none;
    align-items: center;;
}

#desktopIntroductionSplitRight{
    display: none;
    margin-left: auto;
}

#desktopIntroductionImages{
    display: none;
}

#desktopIntroductionImages img{
    height: 24vw;
    width: auto;
    flex: 1 1 auto;
    object-fit: cover;
}

#aboutMeTextImageSplit{
    display: flex;
}

#aboutMeTextImageSplit span{
    display: flex;
    align-items: center;
}

#aboutMeTransparentText{
    opacity: var(--default-transparency);
}

#aboutMeDesktop{
    display: none;
}

#aboutMeMobileImg{
    height: 421px;
    width: auto;
}

#galleryLeftRightBtns{
    display: none;

    position: absolute;
    inset: 0;

    justify-content: space-between;
    align-items: center;

    padding: 0 var(--default-padding);
    z-index: 5;


}

#galleryLeftRightBtns button{
    background-color: var(--extreme-transparent-color);
    border-radius: 100px;
    height: 48px;
    width: 48px;
    border: none;
    z-index: 2;
}

#buildingTextTab{
    width: 70%;
}

#buildsGallery img{
    border-radius: var(--main-border-radius);
    margin-bottom: var(--margin-between-images);
}

#animationSplit{
    display: flex;
}

#animationShowcase video{
    margin-bottom: var(--margin-between-images);
}


@media(min-width: 600px){

}

#UIText h3{
    width: 70%;
}

#UIImages img{
    margin-bottom: var(--margin-between-images);
}

#scriptingText h1{
    width: 60%;
}

#UIImagesSplit{
    display: flex;
    gap: var(--margin-between-images);
}

#UIImagesSplit img{
    width: 50%;
}

#UIImagesDesktop{
    display: flex;
    gap: 12px;
}

#UIImagesDesktop img{
    height: 32vw;
    width: auto;
    margin-bottom: var(--margin-between-images);
}

.serviceBox{
    background-color: var(--super-extreme-transparent-color);
    padding: calc(var(--default-padding) * 2);
    border-radius: var(--main-border-radius);
    margin-top: calc(var(--margin-between-images) * 2);
}

.serviceBox h4{
    margin-bottom: calc(var(--main-margin-spacer) / 2);
}

.serviceBoxLine{
    background-color: var(--contrast-color);
    width: 100%;
    height: 6px;
    margin-top: var(--main-margin-spacer);
    margin-bottom: calc(var(--extreme-margin-spacer) * 2);
    border-radius: 100px;
}

.spacer{
    width: 100%;
    height: 3px;
    background-color: var(--extreme-transparent-color);
    border-radius: 100px;
}

.spacer.lg{
    margin-top: calc(var(--extreme-margin-spacer) * 2);
}

.faqQuestionContainer{
    display: flex;
    justify-content: space-between;
}

#faqContainer{
    margin-top: var(--main-margin-spacer);
}

.faqP{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 
        max-height 0.35s ease, 
        opacity 0.25s ease,
        margin-bottom 0.35s ease;
}

.faqP.show{
    opacity: .35;
    max-height: 200px;
    margin-bottom: var(--main-margin-spacer);
}

#footer{
    margin: calc(var(--body-margins) * -1);
    padding: var(--body-margins);

    margin-top: var(--main-margin-spacer);
    padding-top: calc(var(--extreme-margin-spacer) * 2);
    padding-bottom: var(--main-margin-spacer);

    background: linear-gradient(to top, var(--contrast-color), red, rgba(255, 255, 255, 0));
}

#footer h3{
    font-family: "jaldi-bold";
}

#footerContainer{
    display: flex;
    justify-content: space-between;
}

#footerLinks{
    display: flex;
    flex-direction: column;
}

#footerSocial{
    display: flex;
    justify-content: center;
    gap: 12px;
}

#footerSocial img{
    width: 42px;
    height: 42px;
}

.galleryAlbum{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--margin-between-images);
}

.galleryAlbum img{
    flex: 1 1 calc(25% - var(--margin-between-images));
    height: 28vw;
    object-fit: cover;
    background-color: var(--super-extreme-transparent-color);
    border-radius: var(--main-border-radius);
    padding: var(--default-padding);
}

/*TABLET*/
@media (min-width: 768px) {
    :root{
        --title-text-size: 1.5rem; 
        --header-text-size: 4rem; 
        --large-text-size: 2.75rem; 
        --main-text-size: 1.75rem;
        --subtext-size: 1.35rem; 

        --main-border-radius: 16px;

        --margin-between-images: 12px;
        --main-margin-spacer: 64px;
        --extreme-margin-spacer: 128px;
    }   

    body{
        margin: 24px;
    }

    #mainPage{
        display: flex;
    }

    #heroSection{
        margin: -24px;
        padding: 24px;
        margin-bottom: var(--main-margin-spacer);
    }

    #heroDesktopImg{
        display: none;
    }

    #heroTabletImg{
        display: block;
    }

    #heroMobileImg{
        display: none;
    }

    #aboutMeMobile{
        display: none;
    }

    #aboutMeDesktopImg{
        display: block;
        height: 64vw;
    }

    #aboutMeDesktop{
        display: block;
    }

    #UIText{
        display: flex;
    }

    #UIText div{
        margin-right: var(--main-margin-spacer);
    }

    #UIImages img{
        width: 100%;
    }

    #scriptingText{
        display: flex;
    }

    #scriptingText h1{
        width: 100%;
        margin-right: var(--extreme-margin-spacer);
    }

    #scriptingSplit{
        width: 60%;
        margin-left: auto;
    }

    #pastProjects3DText h3{
        width: 60%;
    }

    #whoAmITextSplit h1{
        width: 70%;
    }

    #mainPage{
        flex-direction: row-reverse;
    }
}


/*DESKTOP*/
@media (min-width: 1024px) {
    :root{
        --title-text-size: 1.5rem; 
        --header-text-size: 4rem; 
        --large-text-size: 2.5rem; 
        --main-text-size: 1.5rem;
        --subtext-size: 1.25rem; 

        --main-border-radius: 6px;

        --margin-between-images: 6px;
        --main-margin-spacer: 64px;
        --extreme-margin-spacer: 128px;
        
        --body-margins: 14vw;
    }

    body{
        margin: var(--body-margins);
    }

    .tightenTextDiv{
        width: 40%;
    }


    .midTightenTextDiv{
        width: 40%;
    }
 
    .extremeTightenTextDiv
    {
        width: 26%;
    }


    img{
        cursor: pointer;
    }

    .galleryButtons{
        display: block;
    }

    .galleryImg{
        width: 82vw;
        max-height: 82vh;
    }

    .galleryImgNoBg{
        width: 82vw;
    }

    .slierTrack{
        animation: scroll 20s linear infinite;
    }

    #heroSection{
        margin: calc(var(--body-margins) * -1);
        padding-left: var(--body-margins);
        padding-right: var(--body-margins);
        margin-bottom: var(--main-margin-spacer);
        padding-top: var(--extreme-margin-spacer);
    }

    #heroDesktopImg{
        display: block;
        height: 37vw;
        width: auto;
        margin-top: -24px;
        margin-bottom: -24px;
    }
     
    #mobileNav{
        display: none;
    }

    #desktopNav{
        display: flex;
    }

    #codeSlider, #appSlider, #heroSlider{
        display: flex;
        gap: 124px;
    }

    #heroMainText{
        justify-content: center;
        margin-right: var(--main-margin-spacer);
        width: auto;
    }

    #heroTabletImg{
        display: none;
    }

    #mobileIntroduction{
        display: none;
    }

    #desktopIntroduction{
        display: flex;
    }

    .tightenTextDiv{
        width: 60%;
    }

    .slightTightenText{
        width: 80%;
    }

    #mobileIntroductionImages{
        display: none;
    }

    #mobileIntroductionSplit{
        display: none;
    }

    #desktopIntroductionSplitRight{
        display: block;
    }

    #desktopIntroductionImages{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--margin-between-images);
    }

    #whoAmITextSplit{
        display: flex;
    }

    #whoAmIText{
        width: 60%;
        margin-left: var(--main-margin-spacer);
    }

    #pastProjects3DText{
        display: flex;
    }

    #pastProjects3DText h3{
        width: 45%;
    }

    #pastProjectsMainText{
        margin-left: auto;
    }

    #galleryLeftRightBtns{
        display: none;
    }

    .galleryContainer{
        scrollbar-width: auto;
    }

    #pastProjects3DExtras{
        width: 50%;
    }

    #animationShowcase{
        width: 65%;
        margin-left: auto;
    }

    #UIImages{
        display: none;
    }

    .serviceBox{
        flex: 1 1 32vw;
        margin: var(--margin-between-images);
    }

    #servicesContainer{
        display: flex;
        flex-wrap: wrap;
    }    
}