:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --contrast-color: #FF6A00;
    --text-color: #ffffff;

    --transparent-color: rgba(255, 255, 255, 0.3);
    --extreme-transparent-color: rgba(255, 255, 255, 0.12);

    --gradient-color1: #FF9500;
    --gradient-color2: #C82F00;
    --gradient-color3: #6E0000;

    --title-text-size: 1.125rem; /* 18 */
    --header-text-size: 3rem;  /* 48 */
    --large-text-size: 1.75rem; /* 28 */
    --main-text-size: 1.25 em; /* 20 */
    --subtext-size: 1rem; /* 16 */
    
    --default-transparency: 30%;
    --extreme-transparency: 12%;

    --margin-between-images: 6px;
    --main-border-radius: 12px;
    --main-margin-spacer: 32px;
    --extreme-margin-spacer: 64px;
}

@font-face {
    font-family: 'jaldi-regular';
    src: url(Fonts/fonnts.com-Jaldi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'jaldi-bold';
    src: url(Fonts/fonnts.com-Jaldi-Bold.ttf) format('truetype');
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'jaldi-regular';

    margin: 12px;
}

h1{
    font-size: var(--header-text-size);
    font-family: 'jaldi-bold';
    line-height: 1.2;
    margin: 0;
}

h2{
    font-size: var(--subtext-size);
    margin: 0;
}

h3{
    font-size: var(--main-text-size);
    margin: 0;
    margin-bottom: 16px;
    margin-top: 16px;
}

h4{
    font-size: var(--title-text-size);
    color: var(--contrast-color);
    margin: 0;
}

h5{
    font-size: var(--subtext-size);
    margin: 0;

    opacity: var(--default-transparency);
}

p{
    font-size: var(--subtext-size);
    margin: 0;
}

img { 
    height: auto;
    max-width: 100%;
}

img:hover{
    transform: scale(0.99);
    transition: transform 0.3s ease;
}

ul{
    margin: 0;
}

li{
    list-style-type: none;
    font-family: 'jaldi-regular';
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--subtext-size);
}

.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerVerticallyDiv{
    display: flex;
    align-items: center;
}

.centerHorizontallyDiv{
    display: flex;
    justify-content: center;
}

.addTransparentBg{
    background-color: var(--transparent-color);
}

.addExtremeTransparentBg{
    background-color: var(--extreme-transparent-color);
}

.addTransparency{
    opacity: var(--default-transparency);
}

.addExtremeTransparency{
    opacity: var(--extreme-transparency);
}

.slider{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.tightenTextDiv{
    width: 80%;
}

.addMargins{
    margin-top: var(--main-margin-spacer);
    margin-bottom: var(--main-margin-spacer);
}

.addMarginBottom{
    margin-bottom: var(--main-margin-spacer);
}

.addMarginTop{
    margin-top: var(--main-margin-spacer);
}

.addMarginRight{
    margin-right: var(--main-margin-spacer);
}

.addMarginLeft{
    margin-left: var(--main-margin-spacer);
}

.roundImgBorders img{
    border-radius: var(--main-border-radius);
}

.addExtremeMargins{
    margin-top: var(--extreme-margin-spacer);
    margin-bottom: var(--extreme-margin-spacer);
}

.addExtremeMarginsBottom{
    margin-bottom: var(--extreme-margin-spacer);
}

.addExtremeMarginsTop{
    margin-top: var(--extreme-margin-spacer);
}

.extremeTightenTextDiv
{
    width: 40%;
}

.margin0{
    margin: 0;
}

.boldText{
    font-family: 'jaldi-bold';
}

.whiteText{
    color: var(--text-color);
}

.blackText{
    color: var(--primary-color);
}

.textAlignRight{
    text-align: right;
}

.contrastBg{
    background-color: var(--contrast-color);
}

.whiteBg{
    background-color: var(--secondary-color);
}

.gradientDiv{
    background: radial-gradient(
        circle,
        var(--gradient-color1) 0%,
        var(--gradient-color2) 50%,
        var(--gradient-color3) 100%
    );
}

.readMore{
    display: flex;
    align-items: center;
    height: 48px;
    width: fit-content;

    border-radius: 100px;
    padding-right: 6px;
}

.readMore img{
    background-color: var(--contrast-color);
    height: 18px;
    width: 18px;
    padding: 8px;
    border-radius: 100px;
}

.readMore a{
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 6px;
}


#mobileNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--main-margin-spacer);
}

#mobileNav img{
    height: 90%;
}

#mobileNav h1{
    font-size: var(--title-text-size);
}

#heroSection{
    background-color: var(--contrast-color);
    margin: -12px;
    padding: 12px;
    margin-bottom: var(--main-margin-spacer);
}

#mainPage{
    align-items: center;
}

#heroMainText{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: var(--extreme-margin-spacer);
    width: 95%;
}

#heroMainText h1, #heroMainText h2{
    text-align: right;
}

#heroMobileImg{
    display: block;
    margin: auto;
    height: auto;
    width: 88%;
    margin-bottom: var(--extreme-margin-spacer);
}

#heroDesktopImg{
    width: auto;
    height: 38vw;
}

#heroDesktopImg{
    display: none;
}

#heroSlider{
    display: flex;
    gap: 48px;
    margin-top: var(--main-margin-spacer);
    margin-bottom: 12px;
}

#heroSlider p{
    white-space: nowrap;
}

#codeSlider{
    display: flex;
    gap: 48px;
    margin-bottom: var(--main-margin-spacer);
    margin-top: var(--main-margin-spacer);
}

#codeLanguage{
    display: flex;
    align-items: center;
    gap: 6px;
}

#codeLanguage img{
    height: 24px;
}

#codeLanguage p{
    white-space: nowrap;
}

#desktopNav{
    display: none;
    justify-content: space-between;
    margin-bottom: var(--main-margin-spacer);
}

#navList{
    display: flex;
    gap: 48px;
}

#navGetInTouch{
    background-color: var(--secondary-color);    
    height: 42px;
}

.getInTouch{
    display: flex;
    align-items: center;
    height: 42px;
    width: fit-content;

    border-radius: 100px;
    padding-right: 4px;
}

.getInTouch img{
    background-color: var(--secondary-color);
    height: 18px;
    width: 18px;
    padding: 8px;
    border-radius: 100px;
}

.getInTouch a{
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 6px;
}


#navGetInTouch a{
    color: var(--primary-color);
    padding-left: 24px;
    padding-right: 6px;
}

#navGetInTouch img{
    background-color: var(--contrast-color);
    height: 16px;
    width: 16px;
    padding: 8px;
    border-radius: 100px;
}

#mobileIntroductionSplit, #introductionSplit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--main-margin-spacer);
}

#mobileIntroductionImages img{
    margin-bottom: var(--margin-between-images);
}

#desktopIntroduction{
    display: none;
    align-items: center;;
}

#desktopIntroductionSplitRight{
    display: none;
    margin-left: auto;
}

#desktopIntroductionImages{
    display: none;
}

#desktopIntroductionImages img{
    height: 32vw;
    width: auto;
    flex: 1 1 auto;
    object-fit: cover;
}

#aboutMeTextImageSplit{
    display: flex;
}

#aboutMeTextImageSplit span{
    display: flex;
    align-items: center;
}

#aboutMeTransparentText{
    opacity: var(--default-transparency);
}

#aboutMeDesktop{
    display: none;
}

#aboutMeMobileImg{
    height: 452px;
    width: auto;
}

/*TABLET*/
@media (min-width: 768px) {
    :root{
        --title-text-size: 1.5rem; 
        --header-text-size: 4rem; 
        --large-text-size: 2.75rem; 
        --main-text-size: 1.75rem;
        --subtext-size: 1.35rem; 
    }   

    body{
        margin: 24px;
    }

    #desktopNav{
        display: flex;
    }

    #heroSection{
        margin: -24px;
        padding: 24px;
        margin-bottom: var(--main-margin-spacer);
    }

    #mobileNav{
        display: none;
    }

    #heroDesktopImg{
        display: block;
    }

    #heroMobileImg{
        display: none;
        height: 100%;
        width: auto;
    }

    #heroSlider{
        justify-content: space-around;
    }

    #codeSlider{
        justify-content: space-around;
    }

    #mainPage{
        display: flex;
    }

    #heroMainText h1, #heroMainText h2{
        text-align: left;
    }

    #mobileIntroduction{
        display: none;
    }

    #desktopIntroduction{
        display: flex;
    }

    .tightenTextDiv{
        width: 60%;
    }

    #mobileIntroductionImages{
        display: none;
    }

    #mobileIntroductionSplit{
        display: none;
    }

    #desktopIntroductionSplitRight{
        display: block;
    }

    #desktopIntroductionImages{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--margin-between-images);
    }

    #aboutMeMobile{
        display: none;
    }

    #aboutMeDesktopImg{
        display: block;
        height: 100%;
        width: 100%;
    }

    #aboutMeDesktop{
        display: block;
    }
}

/*DESKTOP*/
@media (min-width: 1024px) {
    
    :root{
        --title-text-size: 1.5rem; 
        --header-text-size: 4.5rem; 
        --large-text-size: 2.75rem; 
        --main-text-size: 1.75rem;
        --subtext-size: 1.5rem; 
    }   

    body{
        margin: 48px;
    }
    
    #heroSection{
        margin: -48px;
        padding: 48px;
        margin-bottom: var(--main-margin-spacer);
    }

    .tightenTextDiv{
        width: 40%;
    }
 
    .extremeTightenTextDiv
    {
        width: 26%;
    }
}